.topbar h1{
font-size: 2rem;
margin-left: 30px;
}

.topbar h2{
font-size: 1.4rem;
margin-left: 900px;
}

.topbar .image img{
margin-right: 140px;
}

.topbar .image .message{
margin-right: 50px;
}

.sidebar{
margin-top:-20px;
width: 60px;
height: 100vh;
position: fixed;
transition: 0.3s;
background: #1F2937;
}

.sidebar #btn {
    font-size: 1.7rem;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 15px;
  }

  .sidebar.active {
    width: 250px;
  }

  .sidebar.active #btn{
    transform: translateX(190px);
  }

  .sidebar ul {
    padding-left: 0;
  }
  
  .sidebar ul li {
    list-style: none;
    margin-top: 40px;
    text-align: center;
    position: relative; /* Add relative positioning for tooltips */
  }

  .sidebar ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sidebar ul li a .icon {
    font-size: 24px;
  }
  
  .sidebar ul li .links-name {
    display: none; /* Hide link names by default */
  }

  .sidebar.active ul li a {
    justify-content: flex-start;
    padding-left: 10px;
  }

  .sidebar.active ul li .links-name {
    display: inline; /* Show link names when sidebar is active */
    margin-left: 10px;
  }

  .sidebar ul li .tooltip {
    position: absolute;
    left: 60px;
    top: 50%;
    margin-top: 5px;
    transform: translateY(-50%);
    border-radius: 5px;
    width: 122px;
    background:#1F2937;
    color: white;
    font-weight: 600;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    opacity: 0;
    line-height: 35px;
    height: 35px;
    pointer-events: none;
    display: block;
  }

  .sidebar.active ul li .tooltip {
    display: none;
  }
  
  .sidebar ul li:hover .tooltip {
    opacity: 1;
    top: 50%;
  }

   .main-content {
    margin-left: 60px;
    width: calc(100% - 60px);
    transition: 0.3s;
    
  }

  
  
  .sidebar.active ~ .main-content {
    margin-left: 250px;
    width: calc(100% - 250px);
  }


  @media (max-width: 768px) {
    .topbar h1{
        font-size: 1.2rem;
        margin-left: 10px;
        }
        
        .topbar h2{
        font-size: 1rem;
        margin-left: 30px;
        }

        .topbar .image img{
          margin-right: 10px;
          height: 30px;
          width: 30px;
          }
          
          .topbar .image .message{
          margin-right: 5px;
          font-size: 1.3rem;
          }

          .sidebar{
            margin-top:-40px;
            width: 50px;
            height: 100vh;
            position: fixed;
            transition: 0.3s;
            background: #1F2937;
            }
            
            .sidebar #btn {
              margin-top: 10px;
                font-size: 1.4rem;
                transition: 0.3s;
                cursor: pointer;
              }
            
              .sidebar.active {
                width: 200px;
              }
            
              .sidebar.active #btn{
                transform: translateX(150px);
              }
            
              .sidebar ul {
                padding-left:0px;
                margin-top: 0px;
              }
              
              .sidebar ul li {
                list-style: none;
                margin-top: 15px;
                text-align: center;
                position: relative; /* Add relative positioning for tooltips */
              }
            
              .sidebar ul li a {
                color: white;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            
              .sidebar ul li a .icon {
                font-size: 20px;
              }
              
              .sidebar ul li .links-name {
                display: none; /* Hide link names by default */
              }
            
              .sidebar.active ul li a {
                justify-content: flex-start;
                padding-left: 10px;
              }
            
              .sidebar.active ul li .links-name {
                display: inline; /* Show link names when sidebar is active */
                margin-left: 10px;
              }
          
            
               .main-content {
                margin-left: 60px;
                width: calc(100% - 60px);
                transition: 0.3s;
                
              }

         
            
     
           
  }

  